@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

article{
  display: block;
  position: relative;
  top: 10px;
  margin-bottom: 50px;
  border-top-right-radius: 30px;
  border: solid blue;
  background-color: blue;
}

article header h1{
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  font-size: 18pt;
  color: white;
  text-align: left;
}

article ul{
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  text-align: center;
}

ul#listaRedeSocial li{
  display: inline-block;
  width: 190px;
}

ul#listaRedeSocial li img{
  position: relative;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  margin-right: 5px;
}

ul#listaRedeSocial a{
  position: relative;
  vertical-align: bottom;
  font-family: sans-serif;
  font-size: 16pt;
  color: blue;
  text-decoration: none;
}

ul#listaEmails li{
  display: inline-block;
  padding: 5px;
  border: solid blue;
  border-width: 2px;
  border-radius: 10px;
  text-align: center;
}

ul#listaEmails img{
  vertical-align: middle;
}

ul#listaEmails p{
  display: inline-block;
  font-family: sans-serif;
  font-size: 22pt;
  color: blue;
  vertical-align: middle;
  margin: 0px 0px 5px 0px;
}

ul#listaEmails p#gmail{
  color: red;
}

ul#listaEmails p#utfpr{
  color: black;
}

ul#listaEmails p.email{
  display: block;
  font-family: sans-serif;
  font-size: 12pt;
  color: black;
  font-weight: bold;
}
